*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 50px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom:1px solid #f2f2f2;
}
.navbar h1{
  color: blue;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: steelblue;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*blogs-preview*/

.blogs-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blogs-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blogs-preview h2{
  font-size: 20px;
  color: steelblue;
  margin-bottom: 20px;
}
.blogs-preview h5{
  color-adjust: 20px;
}